/* Start Variables */

:root {
  --primary-color: gold;
}

/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 1000px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

input {
  outline: none;
}

::placeholder {
  color: #ddd;
}

.container {
  margin: auto;
  width: 90%;
}
/* End General Styles */

/* Start Header Section */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header__brand {
  display: inline-block;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
}

.brand__slogan {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.header__text {
  margin: 3rem 0;
}

.header__title {
  color: #fff;
  font-size: 3.5rem;
}

.header__description {
  margin: auto;
  width: 90%;
  margin-top: 1rem;
  color: #ccc;
  font-size: 1.2rem;
  line-height: 1.8;
}

.header__countdown {
  display: flex;
  justify-content: center;
}

.countdown__item {
  margin: 0 1.5rem;
}

.countdown__item .number {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
}

.countdown__item .letter {
  color: #fff;
  font-size: 2rem;
}

.email-box {
  position: absolute;
  bottom: -25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  background-color: #fff;
}

.email__input input {
  width: 300px;
  border: 0;
  padding: 7px 5px;
  padding-right: 12px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.invalid-feedback {
  top: 12px;
  position: relative;
  margin-bottom: -20px;
  font-size: 16px;
  text-align: start;
}

.email__button {
  border: none;
  padding: 5px 15px;
  background-color: var(--primary-color);
}

.email__button img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 4.5rem;
    font-weight: bold;
  }
  .header__description {
    margin: auto;
    margin-top: 1.3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .header__description {
    width: 55%;
  }

  .countdown__item {
    margin: 0 2rem;
  }

  .countdown__item .number {
    font-size: 4rem;
  }
}
/* End Header Section */

/* Start Features Section */
.features {
  margin-top: 70px;
}

.features__title {
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__item {
  margin-bottom: 20px;
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 20px;
  max-width: 350px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feature__subtitle {
  margin: 20px 0 10px 0;
  color: #444;
  font-weight: 600;
}

.feature__description {
  font-size: 1.3rem;
  color: #666;
}

@media screen and (min-width: 768px) {
  .features__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 10%;
  }
  .feature__item {
    width: 45%;
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 992px) {
  .feature__item {
    width: 30%;
    margin-bottom: 5%;
  }
  .features__title {
    margin: 60px 0;
  }
}
/* End Features Section */

/* Start Footer Section */

.footer__content {
  margin-top: 40px;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
}

.footer__top {
  padding: 50px 0;
  background-color: rgba(255, 217, 0, 0.75);
}

.footer__top__title {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.footer__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__form .invalid-feedback {
  width: 100%;
  text-align: center;
}

.footer__input {
  padding-right: 10px;
  border: 2px solid #eee;
  width: 250px;
  font-size: 15px;
}

.footer__btn {
  display: inline-block;
  border: 0;
  padding: 7px;
  background-color: black;
}

.footer__btn img {
  width: 70%;
}

.footer__bottom {
  padding-top: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer__bottom__title {
  margin-bottom: 20px;
  color: #eee;
  text-align: center;
}

.social__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__media .icon {
  display: inline-block;
  margin: 0 3px;
  padding: 16px;
  color: #eee;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social__media .icon:hover {
  color: #444;
  background-color: var(--primary-color);
}

.footer__email {
  display: flex;
  justify-content: center;
}

.footer__email__content {
  margin-top: 30px;
  border-top: 1px solid rgba(238, 238, 238, 0.2);
  padding: 20px 100px 30px 100px;

  color: #777;
  font-size: 14px;
}
/* End Footer Section */
