/* Start Variables */

:root {
  --primary-color: gold;
}

/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 1000px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

input {
  outline: none;
}

::placeholder {
  color: #ddd;
}

.container {
  margin: auto;
  width: 90%;
}
/* End General Styles */

/* Start Header Section */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header__brand {
  display: inline-block;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
}

.brand__slogan {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.header__text {
  margin: 3rem 0;
}

.header__title {
  color: #fff;
  font-size: 3.5rem;
}

.header__description {
  margin: auto;
  width: 90%;
  margin-top: 1rem;
  color: #ccc;
  font-size: 1.2rem;
  line-height: 1.8;
}

.header__countdown {
  display: flex;
  justify-content: center;
}

.countdown__item {
  margin: 0 1.5rem;
}

.countdown__item .number {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
}

.countdown__item .letter {
  color: #fff;
  font-size: 2rem;
}

.email-box {
  position: absolute;
  bottom: -25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.email__input input {
  width: 300px;
  border: 0;
  padding: 7px 5px;
  padding-right: 12px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.email__icon {
  padding: 5px 15px;
  background-color: var(--primary-color);
}

.email__icon img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 4.5rem;
    font-weight: bold;
  }
  .header__description {
    margin: auto;
    margin-top: 1.3rem;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .header__description {
    width: 55%;
  }

  .countdown__item {
    margin: 0 2rem;
  }

  .countdown__item .number {
    font-size: 4rem;
  }
}
/* End Header Section */
